@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/*I need to hide the google translate top*/
.goog-te-banner-frame.skiptranslate, .goog-te-gadget-simple img {
    display: none !important;
}
.goog-tooltip {
    display: none !important;
}
.goog-tooltip:hover {
    display: none !important;
}
.goog-text-highlight {
    background-color: transparent !important;
    border: none !important;
    box-shadow: none !important;
}
*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    width: auto;
    size: auto;  
}

.logo{
    text-decoration: none;
    color:   #3a6cf4;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.8em;
}

.navigation a{
    color: #3a6cf4;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 500;
    padding-left: 30px;


}

.navigation a:hover{
    color: #601cfc;
}

section {
    padding: 100px 200px;
}

.main {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url(images/background1.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.main h2 {
    color: #fff;
    font-size: 1.4em;
    font-weight: 500;
}

.main h2 span {
    display: inline-block;
    margin-top: 10px;
    color: #4e9eff;
    font-size: 3em;
    font-weight: 600;
}

.main h3 {
    color: #fff;
    font-size: 2em;
    font-weight: 700;
    letter-spacing: 1px;
    margin-top: 10px;
    margin-bottom: 30px;
}

.main-btn {
    color: #fff;
    background-color: #3a6cf4;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 600;
    display: inline-block;
    padding: 0.9375em 2.1875em;
    letter-spacing: 1px;
    border-radius: 15px;
    margin-bottom: 40px;
    transition: 0.7s ease;
}

.main-btn:hover {
    background-color: #0a49f6;
    transform: scale(1.1);
}

.social-icons a {
   display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgb(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px ;
    border-radius: 50% ;
    color: #ffffff;
    transition: all 0.5s ease;
}
.social-icons a:hover
{
	color: #24262b;
    background-color: #ffffff;
}

.title {
    display: flex;
    justify-content: center;
    color: #3a6cf4;
    font-size: 2.2em;
    font-weight: 800;
    margin-bottom: 30px;
}

.content {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
	
}
.card {
    background-color: #fff;
    width: 25%;
    box-shadow: 0 5px 25px rgba(1 1 1 / 15%);
    border-radius: 10px;
    padding: 25px;
    margin: 15px;
    transition: 0.7s ease;
}

.card:hover {
    transform: scale(1.1);
}

.card .icon {
    color: #3a6cf4;
    font-size: 8em;
    text-align: center;
}

.info {
    text-align: center;
}

.info h3{
    color: #3a6cf4;
    font-size: 1.2em;
    font-weight: 700;
    margin: 10px;
}

.ueberuns{
    background-color: #000016;
}

.ueberuns.content{
    margin-top: 30px;
}
.geschichte
{
    color: #fff;
}
.project-card {
    background-color: #fff;
    border: 1px solid #fff;
    min-height: 14em;
    width: 23em;
    overflow: hidden;
    border-radius: 10px;
    margin: 20px;
    transition: 0.7s ease;
}

.project-card:hover {
   transform: scale(1.1);
   
}

.project-card:hover .project-image {
    opacity: 0.9;
 }

.project-image img{
    width: 100%
}

.project-info {
    padding: 1em;
}

.project-category {
    font-size: 0.8em;
    color: #000;
}

.project-title {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    font-weight: 800;
    margin-top: 10px;
}

.more-details {
    text-decoration: none;
    color: #3a6cf4;
}

.more-details:hover {
    color: #601cfc;
}

.kontakt .icon{
    font-size: 4.5em;
}

.kontakt .info h3 {
    color: #000;
}

.kontakt .info p {
    font-size: 1.5em;
}


/* footer */
.containerFooter
{
    margin: auto;
	padding: 10px 200px ;
	width:100%;
	size:100%;
	
}
.row
{
    display: flex;
    flex-wrap: wrap;
}
ul
{
    list-style: none;
}
.footer
{
    background-color: #112A46 ;
    position: bottom; 
	width:100%;
	size:100%;
    bottom: 0;    
}
.footer-col
{
    width: 20%;
    padding: 0 15px;
    
   
}
strong 
{
    color: white;
}
.footer-col h4
{
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
    

}
.footer-col h4::before
{
    content: '';
    position: absolute;
    left:0 ;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}
.footer-col ul li:not(:last-child)
{
    margin-bottom: 10px;
}
.footer-col ul li a
{
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
}
.footer-col ul li a:hover
{
    color: #ffffff;
    padding-left: 8px;
}
.footer-col .social-links a
{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgb(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px ;
    border-radius: 50% ;
    color: #ffffff;
    transition: all 0.5s ease;

}
.footer-col .social-links a:hover
{
    color: #24262b;
    background-color: #ffffff;
}
/* Mobile */
@media(max-width: 700px)
{
	
	.containerFooter {
    margin: auto;
    padding: 0px 0px;
    width: 100%;
    border: 1px solid #ccc; 
}
    body
	{
        font-size: 12px;
		
    }

    .footer-col
    {
        font-size: 0.9em;
		
		font-weight: 500;
		padding-left: 30px;
    }
	
	
	.navigation
    {
		
        font-size: 0.5em;
		
    }
   
    .logo{
        font-size: 1.1em;
    }
}
@media (max-width:1023px){
    header{
        padding: 12px 20px;
    }
    .footer-col
    {
        font-size: 0.9em;
    }
	.navigation
    {

        font-size: 0.9em;
    }
   
    .logo{
        font-size: 1.1em;
    }
   .footer-col
    {
        width: 50%;
        margin-bottom: 30px;
		padding: 10px 20px;
    }
    .navigation a{
        padding-left: 10px;
    }

    .title{
        font-size: 1.8em;
    }

    section{
        padding: 80px 20px;
    }

    .main-content h2{
        font-size: 1em;
    }

    .main-content h3{
        font-size: 1.6em;
    }

    .content
	{
        flex-direction: column;
        align-items: center;	
    }
	.card
	{
		width:100%;
	}

}

@media (max-width:641px){
    body{
        font-size: 12px;
    }

    .footer-col
    {
        font-size: 0.9em;
    }
	
	
	.navigation
     {

        font-size: 0.7em;
    }
   
    .logo{
        font-size: 1.1em;
    }
   .footer-col
    {
        width: 50%;
        margin-bottom: 30px;
		padding: 10px 20px;
    }
    .main-content h2{
        font-size: 0.8em;
    }

    .main-content h3{
        font-size: 1.4em;
    }
	.content
	{
        flex-direction: column;
        align-items: center;	
    }
	.card
	{
		width:100%;
	}
}

@media (max-width:420px){
   
	.containerFooter {
    margin: auto;
 
    width: 100%;
    border: 1px solid #ccc; 
}
    body
	{
        font-size: 12px;
		
    }

    .footer-col
    {
        font-size: 0.9em;
		
		font-weight: 500;
		padding-left: 30px;
    }
	
	.navigation
    {
		
         font-size: 0.7em;
		
    }
   
}
